<?xml version="1.0"?>
<config>
    <modules>
        <HooshMarketing_Marketo>
            <version>2.3.0.0</version>
        </HooshMarketing_Marketo>
    </modules>
    <global>
        <models>
            <hoosh_marketo>
                <class>HooshMarketing_Marketo_Model</class>
                <resourceModel>hoosh_marketo_resource</resourceModel>
            </hoosh_marketo>
            <hoosh_marketo_resource>
                <class>HooshMarketing_Marketo_Model_Resource</class>
                <entities>
                    <lead>
                        <table>marketo_lead_entity</table>
                    </lead>
                    <opportunity>
                        <table>marketo_opportunity_entity</table>
                    </opportunity>
                    <marketo_recommendation_grid>
                        <table>marketo_recommendation_grid</table>
                    </marketo_recommendation_grid>
                    <eav_attribute_additional_table>
                        <table>marketo_eav_attribute</table>
                    </eav_attribute_additional_table>
                    <marketo_lead_info_table>
                        <table>marketo_lead_info</table>
                    </marketo_lead_info_table>
                    <marketo_recommendation_table>
                        <table>marketo_recommendations</table>
                    </marketo_recommendation_table>
                    <marketo_segment_table>
                        <table>marketo_segment</table>
                    </marketo_segment_table>
                    <marketo_log_categories_table>
                        <table>marketo_log_categories</table>
                    </marketo_log_categories_table>
                </entities>
            </hoosh_marketo_resource>
        </models>
        <resources>
            <marketo_setup>
                <setup>
                    <module>HooshMarketing_Marketo</module>
                    <class>HooshMarketing_Marketo_Model_Resource_Attribute_Setup</class>
                </setup>
            </marketo_setup>

            <marketo_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </marketo_write>
            <marketo_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </marketo_read>
        </resources>
        <blocks>
            <hoosh_marketo>
                <class>HooshMarketing_Marketo_Block</class>
            </hoosh_marketo>

        </blocks>
        <helpers>
            <hoosh_marketo>
                <class>HooshMarketing_Marketo_Helper</class>
            </hoosh_marketo>
        </helpers>
        <!--Frontend events-->
        <events>
            <!--Customer Operations. File: HooshMarketing_Marketo_Model_Observer_Customer-->
            <customer_address_save_before>
                <observers>
                    <hoosh_marketo_customer_save_after>
                        <type>singleton</type>
                        <class>HooshMarketing_Marketo_Model_Observer_Customer</class>
                        <method>customerSaveBefore</method>
                    </hoosh_marketo_customer_save_after>
                </observers>
            </customer_address_save_before>
            <customer_save_before>
                <observers>
                    <hoosh_marketo_customer_save_after>
                        <type>singleton</type>
                        <class>HooshMarketing_Marketo_Model_Observer_Customer</class>
                        <method>customerSaveBefore</method>
                    </hoosh_marketo_customer_save_after>
                </observers>
            </customer_save_before>
            <customer_address_save_after>
                <observers>
                    <hoosh_marketo_customer_save_after>
                        <type>singleton</type>
                        <class>HooshMarketing_Marketo_Model_Observer_Customer</class>
                        <method>customerSave</method>
                    </hoosh_marketo_customer_save_after>
                </observers>
            </customer_address_save_after>
            <customer_save_after>
                <observers>
                    <hoosh_marketo_customer_save_after>
                        <type>singleton</type>
                        <class>HooshMarketing_Marketo_Model_Observer_Customer</class>
                        <method>customerSave</method>
                    </hoosh_marketo_customer_save_after>
                </observers>
            </customer_save_after>
            <customer_login>
                <observers>
                    <catalog>
                        <type>singleton</type>
                        <class>HooshMarketing_Marketo_Model_Observer_Customer</class>
                        <method>customerLogin</method>
                    </catalog>
                </observers>
            </customer_login>
            <!--Main Observer-->
            <newsletter_subscriber_save_after>
                <observers>
                    <catalog>
                        <type>model</type>
                        <class>HooshMarketing_Marketo_Model_Observer</class>
                        <method>newsletterSubscribe</method>
                    </catalog>
                </observers>
            </newsletter_subscriber_save_after>
            <controller_action_predispatch>
                <observers>
                    <hoosh_marketo_activity_changeDesign>
                        <type>singleton</type>
                        <class>HooshMarketing_Marketo_Model_Observer</class>
                        <method>preDispatch</method>
                    </hoosh_marketo_activity_changeDesign>
                </observers>
            </controller_action_predispatch>
            <!--MARKETO EVENTS-->
            <opportunity_dynamic_before_create>
                <observers>
                    <mapping_opportunity>
                        <type>singleton</type>
                        <class>HooshMarketing_Marketo_Model_Mapping_Observer</class>
                        <method>addOpportunityDynamicFields</method>
                    </mapping_opportunity>
                </observers>
            </opportunity_dynamic_before_create>
            <opportunity_dynamic_before_update>
                <observers>
                    <mapping_opportunity>
                        <type>singleton</type>
                        <class>HooshMarketing_Marketo_Model_Mapping_Observer</class>
                        <method>addOpportunityDynamicFields</method>
                    </mapping_opportunity>
                </observers>
            </opportunity_dynamic_before_update>
            <sync_opportunity_static_before>
                <observers>
                    <mapping_opportunity>
                        <type>singleton</type>
                        <class>HooshMarketing_Marketo_Model_Mapping_Observer</class>
                        <method>addOpportunityStaticFields</method>
                    </mapping_opportunity>
                </observers>
            </sync_opportunity_static_before>
            <sync_lead_before>
                <observers>
                    <mapping_lead>
                        <type>singleton</type>
                        <class>HooshMarketing_Marketo_Model_Mapping_Observer</class>
                        <method>addLeadFields</method>
                    </mapping_lead>
                </observers>
            </sync_lead_before>
        </events>
    </global>
    <frontend>
        <events>
            <!--URL REWRITES. File: HooshMarketing_Marketo_Model_Observer_Url -->
            <catalog_product_load_after>
                <observers>
                    <url_key_changes_in_product>
                        <class>HooshMarketing_Marketo_Model_Observer_Url</class>
                        <method>changeUrlKeyInProduct</method>
                    </url_key_changes_in_product>
                </observers>
            </catalog_product_load_after>
            <catalog_product_collection_load_after>
                <observers>
                    <url_key_changes>
                        <class>HooshMarketing_Marketo_Model_Observer_Url</class>
                        <method>changeUrlKeyInCollection</method>
                    </url_key_changes>
                </observers>
            </catalog_product_collection_load_after>
            <!--Quote Item Operations. HooshMarketing_Marketo_Model_Observer_Quote-->
            <sales_quote_item_save_before>
                <observers>
                    <marketo_sync_quote_item_before>
                        <type>singleton</type>
                        <class>HooshMarketing_Marketo_Model_Observer_Quote</class>
                        <method>quoteItemSaveBefore</method>
                    </marketo_sync_quote_item_before>
                </observers>
            </sales_quote_item_save_before>
            <sales_quote_item_save_after>
                <observers>
                    <marketo_sync_quote_item_after>
                        <type>singleton</type>
                        <class>HooshMarketing_Marketo_Model_Observer_Quote</class>
                        <method>quoteItemSave</method>
                    </marketo_sync_quote_item_after>
                </observers>
            </sales_quote_item_save_after>
            <sales_order_item_save_before>
                <observers>
                    <marketo_order_item_before>
                        <type>singleton</type>
                        <class>HooshMarketing_Marketo_Model_Observer_Quote</class>
                        <method>saveOrderItemBefore</method>
                    </marketo_order_item_before>
                </observers>
            </sales_order_item_save_before>
            <sales_order_item_save_after>
                <observers>
                    <marketo_order_item_save>
                        <type>singleton</type>
                        <class>HooshMarketing_Marketo_Model_Observer_Quote</class>
                        <method>saveOrderItemAfter</method>
                    </marketo_order_item_save>
                </observers>
            </sales_order_item_save_after>
            <sales_quote_remove_item>
                <observers>
                    <hoosh_marketo_remove_item>
                        <type>singleton</type>
                        <class>HooshMarketing_Marketo_Model_Observer_Quote</class>
                        <method>updateRemovedOpportunity</method>
                    </hoosh_marketo_remove_item>
                </observers>
            </sales_quote_remove_item>
            <sales_quote_address_save_before>
                <observers>
                    <hoosh_marketo_billing_address_save>
                        <type>singleton</type>
                        <class>HooshMarketing_Marketo_Model_Observer_Quote</class>
                        <method>syncBillingAddressBefore</method>
                    </hoosh_marketo_billing_address_save>
                </observers>
            </sales_quote_address_save_before>
            <sales_quote_address_save_after>
                <observers>
                    <hoosh_marketo_billing_address_save>
                        <type>singleton</type>
                        <class>HooshMarketing_Marketo_Model_Observer_Quote</class>
                        <method>syncBillingAddress</method>
                    </hoosh_marketo_billing_address_save>
                </observers>
            </sales_quote_address_save_after>
            <catalog_product_collection_load_before>
                <observers>
                    <hoosh_marketo_product_order>
                        <type>singleton</type>
                        <class>HooshMarketing_Marketo_Model_Observer</class>
                        <method>setProductOrder</method>
                    </hoosh_marketo_product_order>
                </observers>
            </catalog_product_collection_load_before>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <hoosh_marketo_set_product_init_after>
                        <type>singleton</type>
                        <class>HooshMarketing_Marketo_Model_Observer</class>
                        <method>loadLayoutBefore</method>
                    </hoosh_marketo_set_product_init_after>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <core_block_abstract_to_html_after>
                <observers>
                    <hoosh_marketo_set_product_init_after>
                        <type>singleton</type>
                        <class>HooshMarketing_Marketo_Model_Observer</class>
                        <method>toHtmlAfter</method>
                    </hoosh_marketo_set_product_init_after>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
        <routers>
            <hoosh_marketo>
                <use>standard</use>
                <args>
                    <module>HooshMarketing_Marketo</module>
                    <frontName>hooshmarketing</frontName>
                </args>
            </hoosh_marketo>
        </routers>

        <layout>
            <updates>
                <hoosh_marketo>
                    <file>marketo/core.xml</file>
                </hoosh_marketo>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <marketo before="Mage_Adminhtml">HooshMarketing_Marketo_Adminhtml</marketo>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>

        <layout>
            <updates>
                <marketo>
                    <file>marketo/core.xml</file>
                </marketo>
            </updates>
        </layout>


    </adminhtml>
    <crontab>
        <jobs>
            <hoosh_marketo_send>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>hoosh_marketo/cron::syncInactivityLeads</model>
                </run>
            </hoosh_marketo_send>
            <hoosh_marketo_send_all_data>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>hoosh_marketo/cron::syncLeadAndOpportunityData</model>
                </run>
            </hoosh_marketo_send_all_data>
        </jobs>
    </crontab>
    <mapping>
        <default_fields>
            <lead>
                <customer>
                    <FirstName>firstname</FirstName>
                    <LastName>lastname</LastName>
                    <Email>email</Email>
                    <City>city</City>
                    <Country>country</Country>
                    <State>region</State>
                    <Phone>telephone</Phone>
                    <PostalCode>postcode</PostalCode>
                    <Address>street</Address>
                    <Company>company</Company>
                    <MiddleName>middlename</MiddleName>
                </customer>
                <billing_address>
                    <FirstName>firstname</FirstName>
                    <LastName>lastname</LastName>
                    <Email>email</Email>
                    <City>city</City>
                    <Country>country</Country>
                    <State>region</State>
                    <Phone>telephone</Phone>
                    <PostalCode>postcode</PostalCode>
                    <Address>street</Address>
                    <Company>company</Company>
                    <MiddleName>middlename</MiddleName>
                </billing_address>
                <subscriber>
                    <Email>subscriber_email</Email>
                </subscriber>
            </lead>
            <opportunity>
                <product>
                    <Magento_Product_Id>entity_id</Magento_Product_Id>
                    <Description>description</Description>
                    <Name>name</Name>
                    <Amount>price</Amount>
                    <Magento_Base_Price>price</Magento_Base_Price>
                    <Magento_SKU>sku</Magento_SKU>
                    <ExpectedRevenue>price</ExpectedRevenue>
                </product>
                <quote_item>
                    <Magento_Line_Item_Id>item_id</Magento_Line_Item_Id>
                    <Quantity>qty</Quantity>
                    <Name>name</Name>
                    <Magento_Sales_Quote_Id>quote_id</Magento_Sales_Quote_Id>
                    <Amount>row_total</Amount>
                    <Magento_Base_Price>base_price</Magento_Base_Price>
                    <Magento_SKU>sku</Magento_SKU>
                    <ExpectedRevenue>row_total</ExpectedRevenue>
                </quote_item>
            </opportunity>
        </default_fields>
        <magento_objects>
            <customer>
                <order>6</order>
                <title>Customer</title>
                <category>lead</category>
                <type>both</type>
                <class>hoosh_marketo/mapping_classes_customer</class>
                <use_null>0</use_null>
            </customer>
            <quote>
                <order>5</order>
                <type>opportunity_static</type>
                <title>Quote</title>
                <category>both</category>
                <!--todo: make through comma -->
                <class>hoosh_marketo/mapping_classes_quote</class>
                <use_null>0</use_null>
            </quote>
            <order>
                <order>6</order>
                <type>opportunity_static</type>
                <title>Order</title>
                <category>opportunity</category>
                <!--todo: make through comma -->
                <class>hoosh_marketo/mapping_classes_order</class>
                <use_null>1</use_null>
            </order>
            <product>
                <order>1</order>
                <title>Product</title>
                <type>opportunity_dynamic</type>
                <category>opportunity</category>
                <class>hoosh_marketo/mapping_classes_product</class>
                <use_null>1</use_null>
            </product>
            <billing_address>
                <order>10</order>
                <category>lead</category>
                <type>both</type>
                <title>Billing Address</title>
                <class>hoosh_marketo/mapping_classes_billingAddress</class>
                <use_null>0</use_null>
            </billing_address>
            <subscriber>
                <order>0</order>
                <category>lead</category>
                <type>both</type>
                <title>Subscriber</title>
                <class>hoosh_marketo/mapping_classes_subscriber</class>
                <use_null>0</use_null>
            </subscriber>
            <quote_item>
                <order>0</order>
                <category>opportunity</category>
                <type>opportunity_dynamic</type>
                <title>Quote Item</title>
                <class>hoosh_marketo/mapping_classes_quoteItem</class>
                <use_null>0</use_null>
            </quote_item>
            <order_item>
                <order>0</order>
                <category>opportunity</category>
                <type>opportunity_dynamic</type>
                <title>Order Item</title>
                <class>hoosh_marketo/mapping_classes_orderItem</class>
                <use_null>0</use_null>
            </order_item>
        </magento_objects>
    </mapping>
    <default>
        <marketo_config>
            <frontend_settings>
                <welcome_message>{{widget type="hoosh_marketo/widget_attribute" field_name="FirstName"
                    default="guest"}}
                </welcome_message>
            </frontend_settings>
            <cache_life_time>
                <life_time>10</life_time>
            </cache_life_time>
            <hooshmarketo_enabling_status>
                <enabling>0</enabling>
            </hooshmarketo_enabling_status>
            <marketo_opportunity_hardcode_fields>
                <default_stage>In Cart</default_stage>
                <remove_stage>Removed From Cart</remove_stage>
                <remove_amount>0</remove_amount>
                <purchase_stage>Placed Order</purchase_stage>
                <purchase_probability>100%</purchase_probability>
                <last_viewed_stage>Last Viewed</last_viewed_stage>
            </marketo_opportunity_hardcode_fields>
            <sync_keys>
                <lead_inactivity_time_key>Magento_Inactivity_Time</lead_inactivity_time_key>
                <opportunity_sales_order_key>Magento_Sales_Orders</opportunity_sales_order_key>
                <lead_newsletter_subscribe_key>Magento_Newsletter_Subscribed</lead_newsletter_subscribe_key>
                <opportunity_line_item_id_key>Magento_Line_Item_Id</opportunity_line_item_id_key>
                <lead_quote_key>Magento_Sales_Quotes</lead_quote_key>
            </sync_keys>
            <cron_settings>
                <inactivity_start_time>2</inactivity_start_time>
                <inactivity_end_time>30</inactivity_end_time>
            </cron_settings>
            <marketo_credentials>
                <namespace>http://www.marketo.com/mktows/</namespace>
            </marketo_credentials>
        </marketo_config>
    </default>
    <!--Marketo Eav Attributes-->
    <marketo>
        <eav_attributes>
            <lead>
                <last_product_id>
                    <is_enabled>1</is_enabled>
                    <api_type>0</api_type>
                    <is_user_defined>0</is_user_defined>
                    <type>int</type>
                </last_product_id>
                <Id>
                    <is_enabled>1</is_enabled>
                    <api_type>1</api_type>
                    <is_user_defined>0</is_user_defined>
                    <type>int</type>
                    <rest_api_name>Id</rest_api_name>
                    <soap_api_name>Id</soap_api_name>
                    <friendly_name>Id</friendly_name>
                </Id>
                <cookie>
                    <is_enabled>1</is_enabled>
                    <api_type>0</api_type>
                    <is_user_defined>0</is_user_defined>
                    <type>varchar</type>
                </cookie>
                <FirstName>
                    <is_enabled>1</is_enabled>
                    <api_type>1</api_type>
                    <is_user_defined>0</is_user_defined>
                    <type>varchar</type>
                    <rest_api_name>firstName</rest_api_name>
                    <soap_api_name>FirstName</soap_api_name>
                    <friendly_name>First Name</friendly_name>
                </FirstName>
                <LastName>
                    <is_enabled>1</is_enabled>
                    <api_type>1</api_type>
                    <is_user_defined>0</is_user_defined>
                    <type>varchar</type>
                    <rest_api_name>lastName</rest_api_name>
                    <soap_api_name>LastName</soap_api_name>
                    <friendly_name>Last Name</friendly_name>
                </LastName>
                <Email>
                    <is_enabled>1</is_enabled>
                    <api_type>1</api_type>
                    <is_user_defined>0</is_user_defined>
                    <type>varchar</type>
                    <rest_api_name>email</rest_api_name>
                    <soap_api_name>Email</soap_api_name>
                    <friendly_name>Email Address</friendly_name>
                </Email>
                <last_activity_time>
                    <is_enabled>1</is_enabled>
                    <api_type>0</api_type>
                    <is_user_defined>0</is_user_defined>
                    <type>datetime</type>
                    <input>date</input>
                </last_activity_time>
                <category_path>
                    <is_enabled>1</is_enabled>
                    <api_type>0</api_type>
                    <is_user_defined>0</is_user_defined>
                    <type>varchar</type>
                </category_path>
                <City>
                    <is_enabled>1</is_enabled>
                    <api_type>1</api_type>
                    <is_user_defined>0</is_user_defined>
                    <type>varchar</type>
                    <rest_api_name>city</rest_api_name>
                    <soap_api_name>City</soap_api_name>
                    <friendly_name>City</friendly_name>
                </City>
                <Country>
                    <is_enabled>1</is_enabled>
                    <api_type>1</api_type>
                    <is_user_defined>0</is_user_defined>
                    <type>varchar</type>
                    <rest_api_name>country</rest_api_name>
                    <soap_api_name>Country</soap_api_name>
                    <friendly_name>Country</friendly_name>
                </Country>
                <Magento_Sales_Orders>
                    <is_enabled>1</is_enabled>
                    <api_type>1</api_type>
                    <is_user_defined>0</is_user_defined>
                    <type>varchar</type>
                    <rest_api_name>Magento_Sales_Orders</rest_api_name>
                    <soap_api_name>Magento_Sales_Orders</soap_api_name>
                    <friendly_name>Magento Sales Orders</friendly_name>
                </Magento_Sales_Orders>
                <State>
                    <is_enabled>1</is_enabled>
                    <api_type>1</api_type>
                    <is_user_defined>0</is_user_defined>
                    <type>varchar</type>
                    <rest_api_name>state</rest_api_name>
                    <soap_api_name>State</soap_api_name>
                    <friendly_name>State</friendly_name>
                </State>
                <Phone>
                    <is_enabled>1</is_enabled>
                    <api_type>1</api_type>
                    <is_user_defined>0</is_user_defined>
                    <type>varchar</type>
                    <rest_api_name>Phone</rest_api_name>
                    <soap_api_name>Phone</soap_api_name>
                    <friendly_name>Phone</friendly_name>
                </Phone>
                <PostalCode>
                    <is_enabled>1</is_enabled>
                    <api_type>1</api_type>
                    <is_user_defined>0</is_user_defined>
                    <type>varchar</type>
                    <rest_api_name>PostalCode</rest_api_name>
                    <soap_api_name>PostalCode</soap_api_name>
                    <friendly_name>PostalCode</friendly_name>
                </PostalCode>
                <Address>
                    <is_enabled>1</is_enabled>
                    <api_type>1</api_type>
                    <is_user_defined>0</is_user_defined>
                    <type>varchar</type>
                    <rest_api_name>Address</rest_api_name>
                    <soap_api_name>Address</soap_api_name>
                    <friendly_name>Address</friendly_name>
                </Address>
                <Magento_Sales_Quotes>
                    <is_enabled>1</is_enabled>
                    <api_type>1</api_type>
                    <is_user_defined>0</is_user_defined>
                    <type>varchar</type>
                    <rest_api_name>Magento_Sales_Quotes</rest_api_name>
                    <soap_api_name>Magento_Sales_Quotes</soap_api_name>
                    <friendly_name>Magento Sales Quotes</friendly_name>
                </Magento_Sales_Quotes>
                <Magento_Inactivity_Time>
                    <is_enabled>1</is_enabled>
                    <api_type>1</api_type>
                    <is_user_defined>0</is_user_defined>
                    <type>varchar</type>
                    <rest_api_name>Magento_Inactivity_Time</rest_api_name>
                    <soap_api_name>Magento_Inactivity_Time</soap_api_name>
                    <friendly_name>Magento Inactivity Time</friendly_name>
                </Magento_Inactivity_Time>
                <Magento_Newsletter_Subscribed>
                    <is_enabled>1</is_enabled>
                    <api_type>1</api_type>
                    <is_user_defined>0</is_user_defined>
                    <type>varchar</type>
                    <rest_api_name>Magento_Newsletter_Subscribed</rest_api_name>
                    <soap_api_name>Magento_Newsletter_Subscribed</soap_api_name>
                    <friendly_name>Magento Newsletter Subscribed</friendly_name>
                </Magento_Newsletter_Subscribed>
            </lead>
            <opportunity>
                <Magento_Product_Id>
                    <is_enabled>1</is_enabled>
                    <api_type>2</api_type>
                    <is_user_defined>0</is_user_defined>
                    <type>varchar</type>
                    <rest_api_name>Name</rest_api_name>
                    <soap_api_name>Name</soap_api_name>
                    <friendly_name>Name</friendly_name>
                </Magento_Product_Id>
                <Name>
                    <is_enabled>1</is_enabled>
                    <api_type>2</api_type>
                    <is_user_defined>0</is_user_defined>
                    <type>varchar</type>
                    <rest_api_name>Name</rest_api_name>
                    <soap_api_name>Name</soap_api_name>
                    <friendly_name>Name</friendly_name>
                </Name>
                <Quantity>
                    <is_enabled>1</is_enabled>
                    <api_type>2</api_type>
                    <is_user_defined>0</is_user_defined>
                    <type>int</type>
                    <rest_api_name>Quantity</rest_api_name>
                    <soap_api_name>Quantity</soap_api_name>
                    <friendly_name>Quantity</friendly_name>
                </Quantity>
                <Amount>
                    <is_enabled>1</is_enabled>
                    <api_type>2</api_type>
                    <is_user_defined>0</is_user_defined>
                    <type>int</type>
                    <rest_api_name>Amount</rest_api_name>
                    <soap_api_name>Amount</soap_api_name>
                    <friendly_name>Amount</friendly_name>
                </Amount>
                <ExpectedRevenue>
                    <is_enabled>1</is_enabled>
                    <api_type>2</api_type>
                    <is_user_defined>0</is_user_defined>
                    <type>int</type>
                    <rest_api_name>ExpectedRevenue</rest_api_name>
                    <soap_api_name>ExpectedRevenue</soap_api_name>
                    <friendly_name>ExpectedRevenue</friendly_name>
                </ExpectedRevenue>
                <Description>
                    <is_enabled>1</is_enabled>
                    <api_type>2</api_type>
                    <is_user_defined>0</is_user_defined>
                    <type>varchar</type>
                    <rest_api_name>Description</rest_api_name>
                    <soap_api_name>Description</soap_api_name>
                    <friendly_name>Description</friendly_name>
                </Description>
                <oppty_id>
                    <is_enabled>1</is_enabled>
                    <api_type>0</api_type>
                    <is_user_defined>0</is_user_defined>
                    <type>int</type>
                </oppty_id>
                <action>
                    <is_enabled>1</is_enabled>
                    <api_type>0</api_type>
                    <is_user_defined>0</is_user_defined>
                    <type>varchar</type>
                </action>
                <Stage>
                    <is_enabled>1</is_enabled>
                    <api_type>2</api_type>
                    <is_user_defined>0</is_user_defined>
                    <type>varchar</type>
                </Stage>
                <LeadSource>
                    <is_enabled>1</is_enabled>
                    <api_type>2</api_type>
                    <is_user_defined>0</is_user_defined>
                    <type>varchar</type>
                </LeadSource>
                <LastActivityDate>
                    <is_enabled>1</is_enabled>
                    <api_type>2</api_type>
                    <is_user_defined>0</is_user_defined>
                    <type>datetime</type>
                </LastActivityDate>
                <IsClosed>
                    <is_enabled>1</is_enabled>
                    <api_type>2</api_type>
                    <is_user_defined>0</is_user_defined>
                    <type>int</type>
                </IsClosed>
                <IsWon>
                    <is_enabled>1</is_enabled>
                    <api_type>2</api_type>
                    <is_user_defined>0</is_user_defined>
                    <type>int</type>
                </IsWon>
                <CloseDate>
                    <is_enabled>1</is_enabled>
                    <api_type>2</api_type>
                    <is_user_defined>0</is_user_defined>
                    <type>datetime</type>
                </CloseDate>
                <Probability>
                    <is_enabled>1</is_enabled>
                    <api_type>2</api_type>
                    <is_user_defined>0</is_user_defined>
                    <type>varchar</type>
                </Probability>
                <Type>
                    <is_enabled>1</is_enabled>
                    <api_type>2</api_type>
                    <is_user_defined>0</is_user_defined>
                    <type>varchar</type>
                </Type>
                <Magento_Line_Item_Id>
                    <is_enabled>1</is_enabled>
                    <api_type>2</api_type>
                    <is_user_defined>0</is_user_defined>
                    <type>int</type>
                </Magento_Line_Item_Id>
                <Magento_SKU>
                    <is_enabled>1</is_enabled>
                    <api_type>2</api_type>
                    <is_user_defined>0</is_user_defined>
                    <type>varchar</type>
                </Magento_SKU>
                <Magento_Sales_Quote_Id>
                    <is_enabled>1</is_enabled>
                    <api_type>2</api_type>
                    <is_user_defined>0</is_user_defined>
                    <type>int</type>
                </Magento_Sales_Quote_Id>
                <Magento_Base_Price>
                    <is_enabled>1</is_enabled>
                    <api_type>2</api_type>
                    <is_user_defined>0</is_user_defined>
                    <type>varchar</type>
                </Magento_Base_Price>
            </opportunity>
        </eav_attributes>
    </marketo>
</config>